.nftSettings {
  min-height: 100vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.nftSettingsSection {
  flex: 1;
  max-width: 1512px;
  width: 100%;
}

.nftSettingsPaper {
  align-items: flex-start;
  flex: 1;
  gap: 24px;
}

.nftSettingsWrapper {
  gap: 24px 48px;
  justify-content: space-between;
  width: 100%;
}

.nftSettingsContent {
  gap: 4px;
  max-width: 824px;
}
