.joinWaitlist {
  align-items: center;
}

.joinWaitlistContainer {
  gap: 32px;
  max-width: 1440px;
  width: 100%;
}

.joinWaitlistInput {
  gap: 16px;
  position: relative;
  width: 100%;
}

.joinWaitlistButton {
  align-self: center;
  right: 0;
}
