.nftBackground {
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.nftBackgroundWrapper {
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 960px;
}
