.faqs {
  position: relative;
  width: 100%;
  justify-content: center;
}

.faqsNumber {
  min-width: 40px;
  min-height: 40px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.faqsAnswer {
  padding-left: 48px;
}
