.catalogCart {
  align-items: center;
  gap: 24px;
  min-height: 100vh;
  padding-top: 72px;
  position: relative;
  width: 100%;
}

.catalogCartSection {
  align-items: flex-start;
  flex: 1;
  gap: 24px;
  max-width: 1920px;
  width: 100%;
}

.catalogCartProgressBar {
  height: 8px;
  width: 100%;
}

.catalogCartStepper {
  gap: 12px;
  margin: 16px 0;
}

.catalogNftCount {
  align-items: center;
  border-radius: 33px;
  justify-content: center;
  padding: 8px;
}

.catalogTabs {
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.catalogTableAndSummary {
  flex: 1;
  gap: 24px;
  overflow: auto;
  width: 100%;
}

.catalogNftTable {
  backdrop-filter: blur(20px);
  background: linear-gradient(113deg, rgba(26, 27, 70, 0.5) 0%, rgba(26, 27, 70, 0.1) 100%);
  border: 1px solid rgba(114, 255, 136, 0.2);
  border-radius: 8px;
  flex: 1;
  height: 100%;
  min-height: 320px;
  overflow: auto;
  width: 100%;
}

.catalogOrderDetails {
  width: 100%;
}
