.coverPicker {
  width: 100%;
}

.coverPickerItem {
  aspect-ratio: 1/1;
}

.coverPickerItemImageContainer {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  transition: .1s ease;
}

.coverPickerItemImage {
  object-fit: cover;
}
