.progressIndicator {
  width: 100%;
}

.progressIndicatorHeader {
  align-items: flex-start;
  flex: 1;
  gap: 24px;
  max-width: 1920px;
  width: 100%;
}

.progressIndicatorBar {
  height: 8px;
  width: 100%;
}

.progressIndicatorStep {
  align-self: flex-start;
}
