.catalogSettings {
  min-height: 100vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.catalogSettingsSection {
  flex: 1;
  max-width: 1512px;
  width: 100%;
}

.catalogSettingsPaper {
  align-items: flex-start;
  gap: 24px;
}

.catalogSettingsWrapper {
  gap: 24px 48px;
  justify-content: space-between;
  width: 100%;
}

.catalogSettingsName {
  gap: 8px;
}

.catalogSettingsNameInput {
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.catalogSettingsCover {
  max-width: 328px;
  height: 226px;
}

.catalogSettingsContent {
  gap: 4px;
  max-width: 824px;
}
