.passwordPageContainer {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.passwordPageContents {
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}
