.createAccount {
}

.createAccountTitle,
.createAccountInput {
  text-align: start;
  gap: 8px;
}

.createAccountContent {
  gap: 24px;
}

.createAccountButtons {
  align-items: center;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.walletInfo {
  align-items: center;
  flex-direction: row;
  gap: 12px;
  min-height: 40px;
  padding-left: 8px;
  text-align: start;
}
