.explore {
  min-height: 100%;
  align-items: center;
}

.exploreSection {
  max-width: 1512px;
  width: 100%;
}

.exploreHeader {
  justify-content: space-between;
  gap: 16px;
}

.exploreTrendingTable {
  flex-direction: row;
}
