.nft {
  min-height: 100vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.nftSection {
  align-items: flex-start;
  flex: 1;
  gap: 24px;
  max-width: 1512px;
  width: 100%;
}

.nftContainer {
  flex: 1;
  gap: 24px;
  width: 100%;
}

.nftProfile {
  column-gap: 24px;
  width: 100%;
}

.nftProfileCard {
  flex-grow: 1;
  width: 100%;
}

.nftProfileDetails {
  gap: 16px;
  padding: 24px 0;
  width: 100%;
}

.nftProfileOwner {
  flex-direction: row;
  gap: 24px;
}

.nftProfileActions {
  flex-direction: row;
  gap: 12px;
}

.nftDetails {
  flex: 1;
  width: 100%;
}

.nftDetailsHeader {
  gap: 24px;
  justify-content: space-between;
}

.nftDetailsSettings {
  flex-direction: row;
  gap: 8px;
}

.nftDetailsContents {
  flex: 1;
  gap: 16px;
  overflow: auto;
}
