.catalogs {
  flex: 1;
  gap: 16px;
  overflow-y: auto;
}

.catalogsHeader {
  gap: 8px 32px;
  justify-content: space-between;
}

.catalogsHeaderOptions {
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

.catalogsContent {
  gap: 16px;
  overflow-y: auto;
}

.itemsContract {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  flex-shrink: 0;
  overflow: clip;
}

.contractTitleStatus {
  align-items: center;
  flex-direction: row;
}

.contractImage {
  height: 100%;
  min-height: 74px;
  position: relative;
  width: 74px;
}

.catalogsection {
  display: flex;
  flex-direction: column;
}
