.nftTableWrapper {
  flex: 1;
  width: 100%;
}

.tableColumnPrice {
  flex-direction: row;
  gap: 8px;
}

.nftWithExclusiveLicense {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 20px;
}

.nftTableEmpty {
  align-items: center;
  flex: 1;
  gap: 12px;
  justify-content: center;
  margin-bottom: 50px;
}
