.history {
  flex: 1;
  gap: 16px;
  overflow: auto;
  width: 100%;
}

.historyHeader {
  gap: 8px 32px;
  justify-content: space-between;
}

.historyHeaderOptions {
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

.historyContent {
  flex-wrap: nowrap;
  flex: 1;
  gap: 16px;
  overflow-y: auto;
  padding: 8px 16px;
  width: 100%;
}

.historyTableWrapper {
  flex: 1;
  min-width: 902px;
  width: 100%;
}

.tableColumnPrice {
  flex-direction: row;
  gap: 8px;
}

.tableColumnFrom,
.tableColumnTo {
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
