/* Member Card */

.memberCard {
  width: 100%;
  /* height: calc(100% - 48px); */
  border-radius: 12px;
  backdrop-filter: blur(20px);
  border: 2px solid #72ff8833;
  overflow: visible;
  margin-top: 48px;
  justify-content: flex-start;
  position: relative;
  padding: 0px 24px 24px;
  cursor: pointer;
}

.memberCardProfilePicture {
  position: absolute;
  width: fit-content;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.memberCardHeader {
  padding-top: 12px;
}

.memberCardContent {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 64px;
  justify-content: space-between;
  gap: 24px;
  /* height: calc(100% - 48px); */
}

.memberCardTopDetails {
  gap: 16px;
}

.memberCardItem {
  align-items: center;
  flex: 1 0;
  min-width: 88px;
}

.memberCardNumbers {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.memberCardBottomDetails {
  gap: 8px;
}

.memberCardRow {
  flex-direction: row;
  gap: 8px;
}

/* Member List */

.memberList {
  flex-direction: row;
  width: fit-content;
  gap: 16px;
  align-items: center;
}
