.avatar {
  position: relative;
  overflow: visible;
  width: fit-content;
}

.avatarImage {
  border-radius: 50%;
}

.avatarIconContainer {
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  transform: translate(40%, 40%);
}
