.termsAndConditions {
  align-items: center;
  flex-grow: 1;
  gap: 24px;
  height: 100%;
}

.termsAndConditionsText {
  border-radius: 4px;
  flex-grow: 1;
  gap: 24px;
  min-height: 0;
  overflow: auto;
  text-align: start;
}

.termsAndConditionsButtons {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
