.signContract {
  flex: 1;
  gap: 24px;
  margin-bottom: 32px;
}

.signContractContents {
  border-radius: 4px;
  flex: 1;
  gap: 32px;
  overflow: auto;
}

.signContractDetails {
  gap: 8px;
}

.signContractNFTTable {
  padding: 0;
  width: 100%;
  overflow: auto visible;
}

.signContractLicenseTerms {
  gap: 24px;
  padding: 32px;
}

.signContractSignature {
  align-items: end;
  align-self: flex-end;
  gap: 24px;
  max-width: 320px;
  width: 100%;
}

.signContractSignatureBox {
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.signContractAddSignatureBox {
  width: 100%;
  justify-content: end;
}

.signContractAddSignatureBtn {
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

.signContractSignatureDate {
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.signContractActionBtns {
  flex-direction: row;
  justify-content: space-between;
}

.signaturePad {
  height: 176px;
}

.signaturePadButtons {
  flex-grow: 1;
  gap: 10px;
  justify-content: end;
}

.nftTableWrapper {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.tableColumnPrice {
  flex-direction: row;
  gap: 8px;
}

.nftWithExclusiveLicense {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 20px;
}
