.passwordPageContainer {
  align-items: center;
  gap: 24px;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
}

.passwordPageContents {
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.bgContainer {
  flex-shrink: 0;
  height: 672px;
  opacity: 50%;
  width: 880px;
}
